<!-- About Section -->
<section class="success" id="about">
  <div class="container" dir="rtl">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="font-family:'b yekan';">درباره ما</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="col-md-6 col-12">
      <p>
        فانوس، نمایشگاه مدرسه‌ی علامه‌حلی ۲ است. این مدرسه، پرچمدار نمایشگاه‌های دانش‌آموزی در سراسر کشور هست و همچنین اشاعه‌دهنده مدل‌آموزشی پژوهشی محور.
        در فانوس، دانش‌آموزان حاصل پژوهش‌های یکساله‌ی هدفمند خود را به اشتراک می‌گذارند که این علاوه بر تقویت توانایی‌های فردی آن‌ها به رشد این نظام آموزشی نیز کمک می‌کند. 
      </p>
    </div>
    <div class="col-md-6 col-12">
      <p>
        جریان پژوهشی به این شکل است که دانش‌آموزان در آغاز سال به چهار کلان موضوع (بسته به علاقه‌شان) تقسیم شده و تحت نظارت معلمینی که تحصیلات مرتبط با پروژه‌های آنان داشته‌اند به پژوهش می‌پردازند.
        پس از پایان مراحل تحقیق و فیش‌نویسی، آموزش مقاله‌نویسی دیده و گزارش‌علمی از پروژه خود تهیه می‌کنند که اصول مقاله نویسی را رعایت می‌کند.
        در روزهای میانی اردیبهشت نمایشگاه دانش‌آموزی فانوس برگزار شده و دانش‌آموزان در آنجا پروژه‌های خود را ارائه می ‌دهند.
      </p>
    </div>
  </div>
</section>