  <div class="slider">
    <div class="slide active"><h1>گرد فانوس بگردان زتکلف والا

    </h1></div>
    <div class="slide">فانوس به سعی خود نگردد روشن</div>
    <div class="slide">شعله‌ی فانوس حباب از ما منور کرده‌اند</div>
  </div>

  <script>
    const slides = document.querySelectorAll(".slide");
    let current = 0;

    function showNextSlide() {
      slides[current].classList.remove("active");
      current = (current + 1) % slides.length;
      slides[current].classList.add("active");
    }

    setInterval(showNextSlide, 4000); // هر ۴ ثانیه عوض میشه
  </script>
