<section id="videos" style="padding: 50px 5%;">
    <div class="mx-auto text-center py-4" style="width: 80%; margin: 0 auto; ">
        <div class="mt-4 column">
        <div id="85247494356"><script type="text/JavaScript" src="https://www.aparat.com/embed/c606h0a?data[rnddiv]=85247494356&data[responsive]=yes"></script></div>
        <a href="/other_videos/" class="btn btn-primary position-absolute" style="right: 14%;z-index: 10; height:px; padding-top: 2px; padding-bottom: 2px; margin-top: .5%;">
            بقیه ویدیوها
        </a>
        </div>

    </div>
</section>
